
.about-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #f3f3e6;
  border: 15px solid rgb(70, 120, 70);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.outside {
    background-color: rgb(218, 240, 160);
}


.about-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 60px 20px;
  text-align: center;
  border-bottom: 4px solid rgb(40, 54, 40);
}

.about-header h1 {
  font-size: 2.8rem;
  color: rgb(70, 120, 70);
  margin: 0;
}


.about-content h2 {
  color: rgb(70, 120, 70);
  font-size: 1.7rem;
  font-family: Georgia, serif;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-content p {
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #333;
}


a {
  color: rgb(70, 120, 70);
 text-align: center;
  margin-top: 40px; }

a:hover {
  text-decoration: underline;
  
}
