
body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  line-height: 1.6; 
 
}


.top-border {
  border: 20px solid rgb(16, 100, 45);
  text-align: center;
  padding: 20px;
  background-color: #f8fff8;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
  margin: 0;
  color: rgb(16, 100, 45);
 
}

.top-menu {
  background: rgb(27, 120, 60);
  padding: 10px;
  text-align: center;
  

}

.top-menu a {
  color: #f8fff8;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;  
 
}

.top-menu a:hover {
  text-decoration: underline;
}


.content-box {
  border: 3px solid rgb(16, 100, 45);
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

p {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
h3 {
margin-left: 60px;
}
h2 {
    text-align: center;
    font-size: smaller;
    font-style: normal; color: rgb(117, 175, 117);
    
}

.page-wrapper {
  border: 20px solid rgb(16, 100, 45);
  max-width: 900px;
  margin: 0 auto;
  background-color: #f8fff8;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}


h2, h3, h4 {
  color: rgb(16, 100, 45);
  font-family: Georgia, serif;
  margin-top: 25px;
  font-size: large;
}

h2 {
  font-size: 4rem;
  border-bottom: 3px solid rgb(16, 100, 45);
  padding-bottom: 8px;
}

h3 {
  font-size: xx-large;
  margin-bottom: 10px;
  text-align: center;
}
h5 {
    display: contents;
    flex-direction: row;
    
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  margin-left: 20px;
}


p {
  line-height: 1.6;
  font-size: 1.05rem;
  margin-bottom: 18px;
  color: #222;
  margin-left: 20px;
}

section {
  margin-bottom: 35px;
}

a {
  color: rgb(16, 100, 45);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  
}
img {
    margin: 20px;
    padding-left: 20px;
}